body {
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-image: url('https://images.pexels.com/photos/3825280/pexels-photo-3825280.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-color: white;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}